<!DOCTYPE html>
<html lang="en" ng-app="ltrack">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ltrack</title>
    <link rel="stylesheet" type="text/css"
          href="css/normalize.css">
    <link rel="stylesheet" type="text/css"
          href="css/skeleton.css">
    <link rel="stylesheet" type="text/css"
          href="css/main.css">
  </script>
  </head>
  <body id="visible-content" hidden="true">

    <div curr-ent>
      <!-- todo: spinner -->
    </div>

    <div nav-bar>
      <!-- todo: spinner -->
    </div>

    <div class="container">
      <div ng-view></div>
    </div>

    <!-- <script src="hoodie/client.js"> -->
    <!-- </script> -->
    <script src="bundle.js">
    </script>
  </body>
</html>
