<section class="acts">
  <div class="row" ng-hide="loading">
    <div class="three columns">&nbsp</div>
    <div class="six columns">
      <h3>Records</h3>
      <h4>aggregate</h4>
      <ul>
        <li>
          <a href="#/agg/ents">
            all entries
          </a>
        </li>
      </ul>
      <h4>by activity</h4>
      <ul>
        <li ng-repeat="act in acts">
          <a href="#/activity/{{act.id}}">
            {{act.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="three columns">&nbsp</div>
  </div>
</section>
