<section class="curr-entry">
  <div class="container"
       ng-hide="loading || !curr_ent">
    <div class="row">
      <div class="three columns">&nbsp</div>
      <div class="six columns">
        <h3>You are currently {{curr_ent.act_name}}.</h3>
        <h4>{{time_str}}</h4>
        <button ng-click="stopEnt()">
          Done
        </button>
        <button ng-click="toggleCustomStop()">
          At
        </button>
        <div ng-show="custom_stop">
          <div>
            <label for="date-stop">Stop date</label>
            <input type="date" name="date-stop" id="date-stop"
                   ng-model="custom_stop.date">
          </div>
          <div>
            <label for="time-stop">Stop time</label>
            <input type="time" name="time-stop" id="time-stop"
                   ng-model="custom_stop.time">
          </div>
        </div>

      </div>
      <div class="three columns">&nbsp</div>
    </div>
</section>
