<section ng-hide="logged_in()">
  <div class="row">
    <div class="three columns">&nbsp</div>
    <div class="six columns">
      <h3>Sign up</h3>
      <form name="signupForm" novalidate>
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username"
                 ng-model="signup.username"
                 placeholder="Enter username">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password"
                 ng-model="signup.password"
                 placeholder="Enter password">
        </div>
        <div>
          <label for="password-confirm">Confirm password</label>
          <input type="password" name="password_confirm"
                 id="password_confirm"
                 ng-model="signup.password_confirm"
                 placeholder="Re-enter password">
        </div>
        <button ng-click="signupUser(signupForm)"
                ng-disabled="loading"
                class="btn">
          Submit
        </button>
      </form>
    </div>
    <div class="three columns">&nbsp</div>
  </div>
</section>

<section ng-show="logged_in()">
  <div class="row">
    <div class="four columns">&nbsp</div>
    <div class="four columns">
      <div ng-show="acts">
        <h3>What's up?</h3>
        <form name="entForm" novalidate>
          <label for="act">Activity type</label>
          <select name="act" id="act"
                  ng-model="ent.act">
            <option ng-repeat="act in acts"
                    value="{{act.id}}">
              {{act.name}}
            </option>
          </select>
          <button ng-click="addEnt(entForm)"
                  ng-disabled="loading"
                  class="btn">
            Submit
          </button>
        </form>
      </div>
      <div ng-hide="acts">
        <a href="#/activity/new">
          <h4>What do you like to do?</h4>
        </a>
      </div>
    </div>
    <div class="four columns">&nbsp</div>
  </div>
</section>
