<section class="acts">
  <div class="row" ng-hide="loading">
    <div class="three columns">&nbsp</div>
    <div class="six columns">
      <h3>Records</h3>
      <h4>aggregate</h4>
      <ul>
        <!--
            aggregate views deferred
            at time of disabling hoodie
            with an eye towards data viz
            before aggregates
          -->
        <!--
        <li>
          <a href="{{reverse('per')}}">
            time use
          </a>
        </li>
        -->
        <li>
          <a href="{{reverse('ents')}}">
            all entries
          </a>
        </li>
      </ul>
      <h4>by activity</h4>
      <ul>
        <li ng-repeat="act in acts">
          <a href="{{reverse('act', {id: act.id})}}">
            {{act.name}}
          </a>
        </li>
      </ul>
    </div>
    <div class="three columns">&nbsp</div>
  </div>
</section>
