<section class="ent-add"
         ng-hide="loading_act">
  <div class="row">
    <div class="three columns">&nbsp</div>
    <div class="six columns">
      <h3>Manual {{act.name}} entry</h3>
      <h5>using the homepage is suggested</h5>
      <form name="ientForm"
            novalidate
            ng-show="act.atype === ACT_TYPES.interval">
        <div>
          <label for="date-start">Start date</label>
          <input type="date" name="date-start" id="date-start"
                 ng-model="ient.date_start">
        </div>
        <div>
          <label for="time-start">Start time</label>
          <input type="time" name="time-start" id="time-start"
                 ng-model="ient.time_start">
        </div>
        <div>
          <label for="date-stop">Stop date</label>
          <input type="date" name="date-stop" id="date-stop"
                 ng-model="ient.date_stop">
        </div>
        <div>
          <label for="time-stop">Stop time</label>
          <input type="time" name="time-stop" id="time-stop"
                 ng-model="ient.time_stop">
        </div>
        <button ng-click="addIEnt(ientForm)"
                ng-disabled="submitted || loading_act"
                class="btn">
          Add
        </button>
      </form>
      <form name="pentForm"
            novalidate
            ng-show="act.atype === ACT_TYPES.point">
        <div>
          <label for="date">Date</label>
          <input type="date" name="date" id="date"
                 ng-model="pent.date">
        </div>
        <div>
          <label for="time">Time</label>
          <input type="time" name="time" id="time"
                 ng-model="pent.time">
        </div>
        <div>
          <label for="note">Note</label>
          <input type="text" name="note" id="note"
                 ng-model="pent.note">
        </div>
        <button ng-click="addPEnt(pentForm)"
                ng-disabled="submitted || loading_act"
                class="btn">
          Add
        </button>
      </form>
    </div>
    <div class="three columns">&nbsp</div>
  </div>
</section>
