<nav>
  <div class="brand">
      <a href="{{reverse('home')}}">
      ltrack
    </a>
  </div>
  <ul class="locations"
      ng-show="logged_in()">
    <li>
      <a href="{{reverse('act-add')}}">
        Add Activity
      </a>
    </li>
    <li>
      <a href="{{reverse('acts')}}">
        View records
      </a>
    </li>
  </ul>

  <!-- login disabled while replacing hoodie -->
  <!--
  <ul class="actions">
    <li ng-hide="logged_in()">
      <a href="{{reverse('login')}}"
         class="button">
        Login
      </a>
    </li>
    <li ng-show="logged_in()">
      <a href="{{reverse('logout')}}"
         class="button">
        Logout
      </a>
    </li>
  </ul>
  -->

</nav>
