body {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

section.curr-entry .row {
    text-align: center;
}

nav {
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

nav .brand a {
    font-size: 28px;
    color: black;
}

nav ul.locations a {
    color: black;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav li {
    margin-bottom: 0;
}

section.acts {
    font-size: 1.15em;
}

section.acts li {
    list-style: none;
}

section.acts li > a {
    font-size: 1.2em;
}

section.acts ul {
    margin-left: 1.5em;
}

@media(min-width: 550px) {
    section.acts li > a {
        font-size: 1.1em;
    }
}

section.act {
    text-align: center;
}

section.act table {
    margin-left: auto;
    margin-right: auto;
}

section.ents h3 {
    text-align: center;
}

section.ents table {
    margin-left: auto;
    margin-right: auto;
}


section.per {
    text-align: center;
}

section.per table {
    margin-left: auto;
    margin-right: auto;
}

nav .brand {
    margin-bottom: .5em;
}

nav .locations li {
    margin-bottom: .8em;
}

nav .locations {
    padding-bottom: 10px;
}

@media (min-width: 550px) {
    nav {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }

    nav .brand {
        position: relative;
        float: left;
        margin-bottom: 0;
        margin-right: 20px;
    }

    nav .locations {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    nav .locations li {
        position: relative;
        float: left;
        margin-bottom: 0;
        margin-right: 1em;
    }

    nav .locations li a {
        line-height: 3em;
    }

    nav ul.actions {
        float: right;
    }

}
