body {
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

section.curr-entry .row {
    text-align: center;
}

nav {
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: gray;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

nav .brand {
    font-size: 28px;
    color: black;
}

nav ul.locations a {
    color: black;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav li {
    margin-bottom: 0;
}

@media (min-width: 750px) {
    nav {
        text-align: left;
        margin-left: 10%;
        margin-right: 10%;
    }

    nav .brand {
        position: relative;
        float: left;
        margin-bottom: 0;
        margin-right: 10px;
    }

    nav .locations {
        position: relative;
        float: left;
        margin-bottom: 0;
    }

    nav .locations li {
        position: relative;
        float: left;
        margin-bottom: 0;
        margin-right: 1em;
    }

    nav .locations li a {
        line-height: 3em;
    }

    nav ul.actions {
        float: right;
    }

}

section.acts li {
    list-style: none;
}

section.act {
    text-align: center;
}

section.act table {
    margin-left: auto;
    margin-right: auto;
}